.ft-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.info-total {
  margin-left: 25px;
  flex-grow: 1;
}

.info-result {
  margin-left: auto;
  margin-right: auto;
}

.ft-header p.title {
  margin-bottom: 10px;
}

.add-height {
  margin-top: 20px;
  margin-bottom: 20px;
}
